{% extends '::base.html.twig' %}


{% block body %}

<h1>{{ iphp.rubric }}</h1>



<div style="padding:5px">
 {% for rubric in rubrics %}
    <li> <a href="{{ rpath(rubric) }}">{{ rubric }}</a></li>
 {% endfor %}

</div>



{% endblock body %}