<ul class="nav nav-list">



{% for rubric in rubrics %}
  <li class="{% if rubric.fullPath == currentRubric %}active{% else %}nav-header{% endif %}"><a href="{{ rpath(rubric) }}"><b>{{ rubric }}</b></a></li>

    {% for subrubric in rubric.children  %}
    <li{% if subrubric.fullPath == currentRubric %} class="active"{% endif %}><a href="{{ rpath(subrubric) }}" >{{ subrubric }}</a></li>

    {% endfor %}

{% endfor %}
</ul>