<td class="sonata-ba-list-field sonata-ba-list-field-{{ field_description.type }}" objectId="{{ admin.id(object) }}">

    {% block field%}
    <a href="{{ admin.generateObjectUrl('edit',object) }}">{% thumbnail value, 'small' %}</a>
    {% endblock %}

</td>