<td class="sonata-ba-list-field sonata-ba-list-field-{{ field_description.type }}" objectId="{{ admin.id(object) }}"

{# style="padding-left:{{ object.level*30+10 }}px" #}
>



    {% block field%}

    {% thumbnail value, 'small' %}


    {% endblock %}

</td>