{% extends 'IphpTreeBundle:CRUD:base_treelist_field.html.twig' %}

{% block field_block %}

    <div style="text-overflow: ellipsis;   overflow: hidden;{% if field_description.getOption('width')%}width:{{ field_description.getOption('width') }} {% endif %}">

        <a href="{{ rpath( value ) }}" target="_blank">
            {% block field %}{{ value }}{% endblock %}
        </a>

    </div>
{% endblock field_block %}